<%- include("includes/head.ejs") %>
  <body>
    <h1>This Page Belongs to <%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>

    <h2>Followers : <%= data.followers %></h2>
    <h2>Following : <%= data.following %></h2>
    <hr />

    <% for(let post of data.posts){ %>
    <img src=" <%= post.image %>" alt="some img" />
    <p>
      Likes : <%= post.likes %> &nbsp; &nbsp; &nbsp; Comments : <%=
      post.comments %>
    </p>
    <% } %>

    <%- include("includes/footer.ejs") %>
  </body>
</html>
