<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Posts</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>Quora Posts</h1>
    <a href="http://localhost:8080/posts/new">Create a New Post</a>
    <br /><br />
    <% posts.forEach(post => { %>
    <div class="posts">
      <h3 class="user">@ <%= post.username %></h3>
      <h4 class="content"><%= post.content %></h4>
      <a href="http://localhost:8080/posts/<%= post.id %>">See In Detail</a>
      <a href="http://localhost:8080/posts/<%= post.id %>/edit">Edit</a>
      
      <br><br><form method="POST" action="/posts/<%= post.id %>?_method=DELETE">
        <button>Delete Post</button>
      </form>
    </div>
    <% }); %>

    <br /><br />
  </body>
</html>
